In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np

In [2]:
data_dir = '/gpfs/space/projects/stud_ml_22/NLP/data'
llama_file = f'{data_dir}/course_questions_evaluation_set.pkl'
langchain_file = f'{data_dir}/course_questions_evaluation_set_langchain.pkl'

In [3]:
llama_df = pd.read_pickle(llama_file)
langchain_df = pd.read_pickle(langchain_file)

In [4]:
llama_df.head()

,course_code,question,answer,llama_answer,langchain_answer,llama_time,langchain_time
0,OIEO.06.046,What is the title of the course OIEO.06.046?,The title of the course OIEO.06.046 is Private...,What is the title of the course OIEO.06.046?\n...,None,6.493638,None
1,OIEO.06.046,What is the name of the course OIEO.06.046?,The name of the course OIEO.06.046 is Private ...,What is the name of the course OIEO.06.046?\n\...,None,3.576854,None
2,OIEO.06.046,What is the code of the course Private Interna...,The code for the course Private International ...,What is the code of the course Private Interna...,None,2.989325,None
3,OIEO.06.046,How is the course OIEO.06.046 called?,The course OIEO.06.046 is called Private Inter...,How is the course OIEO.06.046 called?\n\nAnswe...,None,3.408098,None
4,OIEO.06.046,How many credits does the course OIEO.06.046 h...,The course OIEO.06.046 has 6 credits.,How many credits does the course OIEO.06.046 h...,None,2.846396,None

In [5]:
langchain_df.head()

,course_code,question,answer,llama_answer,langchain_answer,llama_time,langchain_time
0,OIEO.06.046,What is the title of the course OIEO.06.046?,The title of the course OIEO.06.046 is Private...,None,"I'm sorry, but the information provided does n...",None,5.004147
1,OIEO.06.046,What is the name of the course OIEO.06.046?,The name of the course OIEO.06.046 is Private ...,None,"I'm sorry, but the information provided does n...",None,4.798225
2,OIEO.06.046,What is the code of the course Private Interna...,The code for the course Private International ...,None,The code of the course Private International L...,None,3.888644
3,OIEO.06.046,How is the course OIEO.06.046 called?,The course OIEO.06.046 is called Private Inter...,None,The course OIEO.06.046 is called Intellectual ...,None,4.888695
4,OIEO.06.046,How many credits does the course OIEO.06.046 h...,The course OIEO.06.046 has 6 credits.,None,The course OIEO.06.046 has 3 credits.,None,3.191969

In [6]:
llama_df = llama_df.dropna(subset=['llama_answer'])
langchain_df = langchain_df.dropna(subset=['langchain_answer'])
llama_df.count(), langchain_df.count()

(course_code         10000
 question            10000
 answer              10000
 llama_answer        10000
 langchain_answer        0
 llama_time          10000
 langchain_time          0
 dtype: int64,
 course_code         9993
 question            9993
 answer              9993
 llama_answer           0
 langchain_answer    9993
 llama_time             0
 langchain_time      9993
 dtype: int64)

In [7]:
joined_df = llama_df.drop(columns=['langchain_answer', 'langchain_time']).merge(langchain_df.drop(columns=['course_code', 'question', 'answer', 'llama_answer', 'llama_time']), left_index=True, right_index=True)

In [8]:
joined_df['llama_answer'] = joined_df['llama_answer'].apply(lambda x: x.split('Answer: ')[1] if len(x.split('Answer: ')) > 1 else x)

In [9]:
joined_df.head()

,course_code,question,answer,llama_answer,llama_time,langchain_answer,langchain_time
0,OIEO.06.046,What is the title of the course OIEO.06.046?,The title of the course OIEO.06.046 is Private...,The title of the course OIEO.06.046 is Special...,6.493638,"I'm sorry, but the information provided does n...",5.004147
1,OIEO.06.046,What is the name of the course OIEO.06.046?,The name of the course OIEO.06.046 is Private ...,The name of the course OIEO.06.046 is Internat...,3.576854,"I'm sorry, but the information provided does n...",4.798225
2,OIEO.06.046,What is the code of the course Private Interna...,The code for the course Private International ...,What is the code of the course Private Interna...,2.989325,The code of the course Private International L...,3.888644
3,OIEO.06.046,How is the course OIEO.06.046 called?,The course OIEO.06.046 is called Private Inter...,The course OIEO.06.046 is called Special Semin...,3.408098,The course OIEO.06.046 is called Intellectual ...,4.888695
4,OIEO.06.046,How many credits does the course OIEO.06.046 h...,The course OIEO.06.046 has 6 credits.,The course OIEO.06.046 has 3 credits.,2.846396,The course OIEO.06.046 has 3 credits.,3.191969

In [10]:
joined_df.count()

course_code         9993
question            9993
answer              9993
llama_answer        9993
llama_time          9993
langchain_answer    9993
langchain_time      9993
dtype: int64

In [29]:
from sentence_transformers import SentenceTransformer, util

sentences = ["I'm happy", "I'm full of happiness"]

model = SentenceTransformer('krlng/sts-GBERT-bi-encoder')

#Compute embedding for both lists
embedding_1= model.encode(sentences[0], convert_to_tensor=True)
embedding_2 = model.encode(sentences[1], convert_to_tensor=True)

util.pytorch_cos_sim(embedding_1, embedding_2).cpu().numpy()

Downloading (…)c5dc3/.gitattributes: 100%|██████████████████████████████████████████| 1.18k/1.18k [00:00<00:00, 585kB/s]
Downloading (…)_Pooling/config.json: 100%|██████████████████████████████████████████████| 191/191 [00:00<00:00, 136kB/s]
Downloading (…)6fa6bc5dc3/README.md: 100%|█████████████████████████████████████████| 3.85k/3.85k [00:00<00:00, 2.27MB/s]
Downloading (…)a6bc5dc3/config.json: 100%|██████████████████████████████████████████████| 671/671 [00:00<00:00, 631kB/s]
Downloading (…)ce_transformers.json: 100%|██████████████████████████████████████████████| 122/122 [00:00<00:00, 116kB/s]
Downloading pytorch_model.bin: 100%|███████████████████████████████████████████████| 1.34G/1.34G [00:33<00:00, 40.5MB/s]
Downloading (…)nce_bert_config.json: 100%|███████████████████████████████████████████| 53.0/53.0 [00:00<00:00, 49.6kB/s]
Downloading (…)cial_tokens_map.json: 100%|██████████████████████████████████████████████| 112/112 [00:00<00:00, 114kB/s]
Downloading (…)c5dc3/tokenizer.json: 100%|███████████████████████████████████████████| 479k/479k [00:00<00:00, 1.40MB/s]
Downloading (…)okenizer_config.json: 100%|██████████████████████████████████████████████| 405/405 [00:00<00:00, 251kB/s]
Downloading (…)6fa6bc5dc3/vocab.txt: 100%|███████████████████████████████████████████| 240k/240k [00:00<00:00, 1.05MB/s]
Downloading (…)6bc5dc3/modules.json: 100%|██████████████████████████████████████████████| 229/229 [00:00<00:00, 147kB/s]

array([[0.86509603]], dtype=float32)

In [27]:
!huggingface-cli login --token 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

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid.
Your token has been saved to /gpfs/space/home/donatasv/.cache/huggingface/token
Login successful

In [30]:
joined_df['llama_similarity'] = None
joined_df['langchain_similarity'] = None

In [31]:
for i, row in tqdm(joined_df.iterrows(), total=joined_df.shape[0]):
    if row['llama_similarity'] == None:
        truth = model.encode(row['answer'], convert_to_tensor=True)
        llama = model.encode(row['llama_answer'], convert_to_tensor=True)
        joined_df.at[i, 'llama_similarity'] = util.pytorch_cos_sim(truth, llama).cpu().numpy()[0][0]
    if row['langchain_similarity'] == None:
        truth = model.encode(row['answer'], convert_to_tensor=True)
        langchain = model.encode(row['langchain_answer'], convert_to_tensor=True)
        joined_df.at[i, 'langchain_similarity'] = util.pytorch_cos_sim(truth, langchain).cpu().numpy()[0][0]
    
    if i % 100 == 0:
        joined_df.to_pickle(f'{data_dir}/similarity.pkl')
    
joined_df.to_pickle(f'{data_dir}/similarity.pkl')

100%|███████████████████████████████████████████████████████████████████████████████| 9993/9993 [11:54<00:00, 13.99it/s]

In [18]:
joined_df.describe()

,course_code,question,answer,llama_answer,llama_time,langchain_answer,langchain_time,llama_similarity,langchain_similarity
count,9993,9993,9993,9993,9993.000000,9993,9993.000000,9993.0,9993.0
unique,195,9771,7157,7960,9989.000000,9197,9992.000000,4370.0,9383.0
top,OIEO.06.046,Is Master's Thesis offered for professional hi...,"No, the course Doctoral Thesis is a course wit...",The structural unit of the course Marketing is...,3.252698,"I'm sorry, I do not have that information.",3.447937,1.0,1.0
freq,52,3,9,6,2.000000,33,2.000000,2596.0,198.0

In [19]:
joined_df['llama_similarity'].mean(), joined_df['langchain_similarity'].mean()

(0.9783191984389072, 0.9395775284886921)

In [20]:
!pip install evaluate

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
Requirement already satisfied: evaluate in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (0.4.0)
Requirement already satisfied: packaging in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (23.0)
Requirement already satisfied: numpy>=1.17 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (1.23.5)
Requirement already satisfied: responses<0.19 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (0.18.0)
Requirement already satisfied: tqdm>=4.62.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (4.65.0)
Requirement already satisfied: xxhash in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (0.0.0)
Requirement already satisfied: huggingface-hub>=0.7.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages/huggingface_hub-0.13.4-py3.8.egg (from evaluate) (0.13.4)
Requirement already satisfied: fsspec[http]>=2021.05.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (2023.4.0)
Requirement already satisfied: dill in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (0.3.6)
Requirement already satisfied: multiprocess in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (0.70.14)
Requirement already satisfied: datasets>=2.0.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (2.11.0)
Requirement already satisfied: requests>=2.19.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (2.28.1)
Requirement already satisfied: pandas in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from evaluate) (1.5.3)
Requirement already satisfied: pyarrow>=8.0.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from datasets>=2.0.0->evaluate) (10.0.1)
Requirement already satisfied: aiohttp in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from datasets>=2.0.0->evaluate) (3.8.4)
Requirement already satisfied: pyyaml>=5.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from datasets>=2.0.0->evaluate) (6.0)
Requirement already satisfied: filelock in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from huggingface-hub>=0.7.0->evaluate) (3.9.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from huggingface-hub>=0.7.0->evaluate) (4.4.0)
Requirement already satisfied: idna<4,>=2.5 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests>=2.19.0->evaluate) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests>=2.19.0->evaluate) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests>=2.19.0->evaluate) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests>=2.19.0->evaluate) (2022.12.7)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from pandas->evaluate) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from pandas->evaluate) (2023.3)
Requirement already satisfied: aiosignal>=1.1.2 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from aiohttp->datasets>=2.0.0->evaluate) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from aiohttp->datasets>=2.0.0->evaluate) (22.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from aiohttp->datasets>=2.0.0->evaluate) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from aiohttp->datasets>=2.0.0->evaluate) (6.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from aiohttp->datasets>=2.0.0->evaluate) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from aiohttp->datasets>=2.0.0->evaluate) (4.0.2)
Requirement already satisfied: six>=1.5 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->evaluate) (1.16.0)

In [21]:
!pip install bert_score

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
Requirement already satisfied: bert_score in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (0.3.13)
Requirement already satisfied: matplotlib in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (3.7.1)
Requirement already satisfied: tqdm>=4.31.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (4.65.0)
Requirement already satisfied: requests in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (2.28.1)
Requirement already satisfied: pandas>=1.0.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (1.5.3)
Requirement already satisfied: transformers>=3.0.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (4.28.1)
Requirement already satisfied: packaging>=20.9 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (23.0)
Requirement already satisfied: torch>=1.0.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (2.0.0)
Requirement already satisfied: numpy in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from bert_score) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from pandas>=1.0.1->bert_score) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from pandas>=1.0.1->bert_score) (2023.3)
Requirement already satisfied: filelock in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from torch>=1.0.0->bert_score) (3.9.0)
Requirement already satisfied: typing-extensions in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from torch>=1.0.0->bert_score) (4.4.0)
Requirement already satisfied: sympy in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from torch>=1.0.0->bert_score) (1.11.1)
Requirement already satisfied: networkx in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from torch>=1.0.0->bert_score) (2.8.4)
Requirement already satisfied: jinja2 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from torch>=1.0.0->bert_score) (3.1.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages/huggingface_hub-0.13.4-py3.8.egg (from transformers>=3.0.0->bert_score) (0.13.4)
Requirement already satisfied: pyyaml>=5.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from transformers>=3.0.0->bert_score) (6.0)
Requirement already satisfied: regex!=2019.12.17 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from transformers>=3.0.0->bert_score) (2022.7.9)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from transformers>=3.0.0->bert_score) (0.13.3)
Requirement already satisfied: fonttools>=4.22.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from matplotlib->bert_score) (4.39.4)
Requirement already satisfied: pyparsing>=2.3.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from matplotlib->bert_score) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from matplotlib->bert_score) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from matplotlib->bert_score) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from matplotlib->bert_score) (1.0.7)
Requirement already satisfied: cycler>=0.10 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from matplotlib->bert_score) (0.11.0)
Requirement already satisfied: charset-normalizer<3,>=2 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests->bert_score) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests->bert_score) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests->bert_score) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from requests->bert_score) (2022.12.7)
Requirement already satisfied: six>=1.5 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=1.0.1->bert_score) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages (from jinja2->torch>=1.0.0->bert_score) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in ./.conda/envs/nlp_proj/lib/python3.10/site-packages/mpmath-1.2.1-py3.10.egg (from sympy->torch>=1.0.0->bert_score) (1.2.1)

In [22]:
from evaluate import load
bertscore = load("bertscore")
predictions = ["hello", "there"]
references = ["gooodbye", "here"]
results = bertscore.compute(predictions=predictions, references=references, lang="en")
results

{'precision': [0.8907009363174438, 0.9997144341468811],
 'recall': [0.7787909507751465, 0.9997144341468811],
 'f1': [0.8309952020645142, 0.9997144341468811],
 'hashcode': 'roberta-large_L17_no-idf_version=0.3.12(hug_trans=4.28.1)'}

In [23]:
references = joined_df['answer'].tolist()
llama_predictions = joined_df['llama_answer'].tolist()
langchain_predictions = joined_df['langchain_answer'].tolist()

llama_results = bertscore.compute(predictions=llama_predictions, references=references, lang="en")
langchain_results = bertscore.compute(predictions=langchain_predictions, references=references, lang="en")

In [24]:
np.mean(llama_results['f1']), np.mean(langchain_results['f1'])

(0.977484285127624, 0.9211409840690687)